@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300');

body{
    overflow-x: hidden !important;
}

.notFound{
    height: 100vh;
}
.logo{
    width: 175px;
    height: 150px;
}
.header{
    height: 48px;
.navbarlinks{
	margin-top: 10px;
	color:rgba(0,0,0,0.8);
	font-size: 25px;
	font-family: Barlow Condensed;
}
.back{
    background-color:rgb(255, 255, 255);
}
.img-fluid{
	opacity: 0.3;
}

.active{
    text-decoration: underline;
}
}


.home{
    height: 100vh;
  .container-fluid{
      height: 100vh;
  }
  a,p{
    font-family:Barlow Condensed;
    font-size: 1.25em;
    color:rgba(0,0,0,0.6) !important;
}


.my-active{
    font-family: bold;
    font-size: 1.5em;
    padding-bottom: 9px;
    p{
        color:rgba(0,0,0,0.8) !important;
    }
}

.decorationOff{
    text-decoration: none;
}

.above{
    width: 100%;
    height: 100%;
        position: fixed;
        top: 0%;
        left:0%;
    z-index: 1;
    padding: 100px 100px 100px 100px;
    background-color: rgba(211,211,211, 0.8);
}

 .gallery{
    .slick-prev:before,
    .slick-next:before
    {
      font-family: 'slick';
      font-size: 36px;
      line-height: 1;
      opacity: .75;
      color: darkslategray;
    
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .slick-prev:before{
        position: absolute;
        left:-30px;
    }
    .slick-next:before{
        position: absolute;
        right:-30px;
    }
}

.btn-left{
    position: absolute;
        top: 50%;
        left:3%;
}

.btn-right{
    position: absolute;
        top: 50%;
        right:3%;   
}

.btn-exit{
    color: darkslategray;
    font-size:24px;
    opacity: 0.7;
}

.btn-left:hover{
    opacity: 1;
}

.btn-right:hover{
    opacity: 1;
}

.btn-exit:hover{
    opacity: 1;
}

.container{
    z-index: 0.5
}

@media (max-width: 576px) {
    
    .above img{
        height: 100%;
    }
    
    .btn-left{
        position: absolute;
            top: 50%;
            left:3%;
    }
    
    .btn-right{
        position: absolute;
            top: 50%;
            right:3%;   
    }
    
}

@media (max-width: 768px) {
    .above img{
        height: 100%;
    }
    
}

@media (max-width: 992px) {
    .above img{
        height: 100%;
    }

}

@media (max-width: 1200px) {
    .above img{
        height: 100%;
    }

}
@media (min-width: 1200px) {
    .above img{
        height: 87%;
    }

}
}


.about {
    .container{
        background-color:rgb(255, 255, 255,1);    
    }
    
    p{
        font-family:Raleway;   
        font-size: 14px !important; 
    }
    
    h2{
        font-family:Raleway;   
        opacity: 0.8;
        font-size: 28px !important;   
    }
    
    blockquote p{
        text-justify: inter-word;     
        text-align: justify;
    }
    
    @media (max-width: 576px) {
        h2{
            font-size: 24px;   
        }
        p{
            font-size: 14px !important;
        }
    }
    
    @media (max-width: 768px) {
        h2{
            font-size: 48px;   
        }
        p{
            font-size: 18px !important;
        }
    }
    
    @media (max-width: 992px) {
        h2{
            font-size: 48px;   
        }
        p{
            font-size: 20px !important;
        }
    }
    
    @media (max-width: 1200px) {
        h2{
            font-size: 48px !important;   
        }
        p{
            font-size: 20px !important;
        }
    }
    
    @media (min-width: 1200px) {
        h2{
            font-size: 48px !important;   
        }
        p{
            font-size: 22px !important;
        }
    }
    
}


.contact{
  .container{
      max-width: 100%;
      width: 100%;
  }
  
  
  .contact{
      height: 500px;
      width: 600px;
      font-family:Raleway;
      opacity: 0.8;
      font-size:18px;
      background-color: rgba(211,211,211,0.2);
      padding:50px;
      -webkit-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.3);
      box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.3);
  }
  
  .btn{
      background-color: lightslategray;
      color:white;
  }
  
  .has-danger{
      border:1px solid rgba(255,0,0, 0.4);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255,0,0, 0.4);
  }
  
  .has-success{
      border:1px solid rgba(0,255,0, 0.4);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2);
  
  }
  .error{
    font-size:14px;
    font-weight: bold;
    color:rgba(255,0,0, 1);
  }
  
  textarea{
      /* border:none; */
      color:black;
      resize: false;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow:auto;
  }
  
  @media (max-width: 576px) {
  
  }
  
  @media (max-width: 768px) {
  
  }
  
  @media (max-width: 992px) {
  
  }
  
  @media (max-width: 1200px) {
  
  }
  
  @media (min-width: 1200px) {
  
  }
  
}
